CTFdpp/logs/*.log
CTFdpp/static/uploads
CTFdpp/uploads
CTFdpp/*.db
CTFdpp/uploads/**/*
.ctfdpp_secret_key
.data
.git
.dockerignore
.github
.gitignore
.prettierignore
**/node_modules
**/*.pyc
**/__pycache__
.venv*
venv*