CTFdpp/themes/**/vendor/
CTFdpp/themes/core-deprecated/
CTFdpp/themes/core/static/
CTFdpp/themes/core-beta/**/*
CTFdpp/themes/admin/static/**/*
*.html
*.njk
*.png
*.svg
*.ico
*.ai
*.svg
*.mp3
*.webm
.pytest_cache
venv*
.venv*
